product-review-component/data/force-app/main/default/flows/Update_Rating_Average.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>400</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ReviewCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_reviews.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_reviews</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Averagerating</name>
        <dataType>Number</dataType>
        <expression>{!ReviewSum} / {!ReviewCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update rating average {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update rating average</label>
    <loops>
        <name>Iterate_through_reviews</name>
        <label>Iterate through reviews</label>
        <locationX>123</locationX>
        <locationY>508</locationY>
        <collectionReference>Get_All_reviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_custom_fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_reviews</name>
        <label>Get All reviews</label>
        <locationX>123</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductReview__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rating__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_custom_fields</name>
        <label>Update Product custom fields</label>
        <locationX>121</locationX>
        <locationY>796</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageRating__c</field>
            <value>
                <elementReference>Averagerating</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>438</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_reviews</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Rating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rating__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductReview__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReviewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReviewSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
